@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);
@import './_partials/darktheme','./_partials/contact','./_partials/proyects','./_partials/knowledge','./_partials/colors' , './_partials/_keyframes.scss', './_partials/footer', './_partials/nav', './_partials/frame','./_partials/media','./_partials/experience';

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
