@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);
#contact {
  display: block;
  margin: 20px auto;
  margin-bottom: 0px;
  padding: 15px;
  font-family: "Roboto", Arial;
  opacity: 0.55;
  position: static;
}

#contact h3 {
  font-size: 1.5em;
}

#contact h3, #contact p {
  color: #21205f;
  opacity: 1;
}

#contact div {
  padding-top: 20px;
}

#contact div input, #contact div textarea {
  margin-top: 10px;
  margin-bottom: 10px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border: 2px #21205f;
  border-bottom-style: groove;
  width: 80%;
  opacity: 0.8;
}

#contact div p {
  font-size: 0.80em;
}

#contact div input:hover, #contact div textarea:hover {
  border: 2.5px #f364f3;
  border-bottom-style: groove;
  opacity: 0.75;
}

#proyectos {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: white;
  position: static;
}

#proyectos h3 {
  padding: 10px;
  padding-top: 45px;
  color: #21205f;
  text-shadow: 2px 2px 2px #f1a2fc;
  font-size: 1.5em;
}

#proyectos div {
  width: 40%;
  height: 100%;
  -webkit-box-shadow: 3px 3px 3px 3px #a4a7a7;
          box-shadow: 3px 3px 3px 3px #a4a7a7;
  margin: 5px auto;
  margin-left: 10px;
  margin-bottom: 15px;
  border-style: solid #456465;
  border-width: 3px;
  position: relative;
  display: inline-block;
  opacity: 0.9;
}

#proyectos div p {
  background-color: #21205f;
  color: #eef88e;
  padding: 10px;
  font-weight: bold;
}

#proyectos div img {
  width: 100%;
  height: 100%;
}

#proyectos div:hover {
  opacity: 1;
}

main #knowledge {
  position: static;
  height: 450px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 20px;
  padding-left: 20px;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1072%26quot%3b)' fill='none'%3e%3cuse xlink:href='%23SvgjsSymbol1079' x='0' y='0'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1079' x='720' y='0'%3e%3c/use%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1072'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cpath d='M-1 0 a1 1 0 1 0 2 0 a1 1 0 1 0 -2 0z' id='SvgjsPath1074'%3e%3c/path%3e%3cpath d='M-3 0 a3 3 0 1 0 6 0 a3 3 0 1 0 -6 0z' id='SvgjsPath1078'%3e%3c/path%3e%3cpath d='M-5 0 a5 5 0 1 0 10 0 a5 5 0 1 0 -10 0z' id='SvgjsPath1077'%3e%3c/path%3e%3cpath d='M2 -2 L-2 2z' id='SvgjsPath1075'%3e%3c/path%3e%3cpath d='M6 -6 L-6 6z' id='SvgjsPath1076'%3e%3c/path%3e%3cpath d='M30 -30 L-30 30z' id='SvgjsPath1073'%3e%3c/path%3e%3c/defs%3e%3csymbol id='SvgjsSymbol1079'%3e%3cuse xlink:href='%23SvgjsPath1073' x='30' y='30' stroke='rgba(255%2c 255%2c 255%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1074' x='30' y='90' stroke='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1074' x='30' y='150' stroke='rgba(190%2c 191%2c 196%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1074' x='30' y='210' stroke='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1075' x='30' y='270' stroke='rgba(142%2c 151%2c 248%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1076' x='30' y='330' stroke='rgba(190%2c 191%2c 196%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1076' x='30' y='390' stroke='rgba(142%2c 151%2c 248%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1076' x='30' y='450' stroke='rgba(190%2c 191%2c 196%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1077' x='30' y='510' stroke='rgba(142%2c 151%2c 248%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1076' x='30' y='570' stroke='rgba(238%2c 174%2c 220%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1076' x='90' y='30' stroke='rgba(190%2c 191%2c 196%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1076' x='90' y='90' stroke='rgba(142%2c 151%2c 248%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1075' x='90' y='150' stroke='rgba(142%2c 151%2c 248%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1077' x='90' y='210' stroke='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1077' x='90' y='270' stroke='rgba(190%2c 191%2c 196%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1077' x='90' y='330' stroke='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1077' x='90' y='390' stroke='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1076' x='90' y='450' stroke='rgba(190%2c 191%2c 196%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1077' x='90' y='510' stroke='rgba(190%2c 191%2c 196%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1077' x='90' y='570' stroke='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1078' x='150' y='30' stroke='rgba(238%2c 174%2c 220%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1076' x='150' y='90' stroke='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1074' x='150' y='150' stroke='rgba(190%2c 191%2c 196%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1077' x='150' y='210' stroke='rgba(238%2c 174%2c 220%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1076' x='150' y='270' stroke='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1077' x='150' y='330' stroke='rgba(238%2c 174%2c 220%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1074' x='150' y='390' stroke='rgba(238%2c 174%2c 220%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1076' x='150' y='450' stroke='rgba(142%2c 151%2c 248%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1076' x='150' y='510' stroke='rgba(238%2c 174%2c 220%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1075' x='150' y='570' stroke='rgba(190%2c 191%2c 196%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1075' x='210' y='30' stroke='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1076' x='210' y='90' stroke='rgba(142%2c 151%2c 248%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1075' x='210' y='150' stroke='rgba(190%2c 191%2c 196%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1074' x='210' y='210' stroke='rgba(142%2c 151%2c 248%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1075' x='210' y='270' stroke='rgba(190%2c 191%2c 196%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1074' x='210' y='330' stroke='rgba(142%2c 151%2c 248%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1076' x='210' y='390' stroke='rgba(142%2c 151%2c 248%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1077' x='210' y='450' stroke='rgba(142%2c 151%2c 248%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1074' x='210' y='510' stroke='rgba(238%2c 174%2c 220%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1078' x='210' y='570' stroke='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1076' x='270' y='30' stroke='rgba(190%2c 191%2c 196%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1075' x='270' y='90' stroke='rgba(238%2c 174%2c 220%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1075' x='270' y='150' stroke='rgba(142%2c 151%2c 248%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1077' x='270' y='210' stroke='rgba(190%2c 191%2c 196%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1076' x='270' y='270' stroke='rgba(238%2c 174%2c 220%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1075' x='270' y='330' stroke='rgba(190%2c 191%2c 196%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1077' x='270' y='390' stroke='rgba(238%2c 174%2c 220%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1075' x='270' y='450' stroke='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1077' x='270' y='510' stroke='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1077' x='270' y='570' stroke='rgba(142%2c 151%2c 248%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1077' x='330' y='30' stroke='rgba(142%2c 151%2c 248%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1077' x='330' y='90' stroke='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1075' x='330' y='150' stroke='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1075' x='330' y='210' stroke='rgba(238%2c 174%2c 220%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1077' x='330' y='270' stroke='rgba(190%2c 191%2c 196%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1076' x='330' y='330' stroke='rgba(190%2c 191%2c 196%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1077' x='330' y='390' stroke='rgba(190%2c 191%2c 196%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1077' x='330' y='450' stroke='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1076' x='330' y='510' stroke='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1073' x='330' y='570' stroke='rgba(238%2c 174%2c 220%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1075' x='390' y='30' stroke='rgba(190%2c 191%2c 196%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1075' x='390' y='90' stroke='rgba(190%2c 191%2c 196%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1078' x='390' y='150' stroke='rgba(190%2c 191%2c 196%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1075' x='390' y='210' stroke='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1075' x='390' y='270' stroke='rgba(142%2c 151%2c 248%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1077' x='390' y='330' stroke='rgba(238%2c 174%2c 220%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1078' x='390' y='390' stroke='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1075' x='390' y='450' stroke='rgba(142%2c 151%2c 248%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1078' x='390' y='510' stroke='rgba(142%2c 151%2c 248%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1073' x='390' y='570' stroke='rgba(190%2c 191%2c 196%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1076' x='450' y='30' stroke='rgba(238%2c 174%2c 220%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1076' x='450' y='90' stroke='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1074' x='450' y='150' stroke='rgba(142%2c 151%2c 248%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1077' x='450' y='210' stroke='rgba(142%2c 151%2c 248%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1075' x='450' y='270' stroke='rgba(238%2c 174%2c 220%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1075' x='450' y='330' stroke='rgba(190%2c 191%2c 196%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1077' x='450' y='390' stroke='rgba(190%2c 191%2c 196%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1076' x='450' y='450' stroke='rgba(238%2c 174%2c 220%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1076' x='450' y='510' stroke='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1076' x='450' y='570' stroke='rgba(142%2c 151%2c 248%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1075' x='510' y='30' stroke='rgba(190%2c 191%2c 196%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1074' x='510' y='90' stroke='rgba(142%2c 151%2c 248%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1075' x='510' y='150' stroke='rgba(238%2c 174%2c 220%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1075' x='510' y='210' stroke='rgba(142%2c 151%2c 248%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1076' x='510' y='270' stroke='rgba(238%2c 174%2c 220%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1076' x='510' y='330' stroke='rgba(142%2c 151%2c 248%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1075' x='510' y='390' stroke='rgba(190%2c 191%2c 196%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1076' x='510' y='450' stroke='rgba(238%2c 174%2c 220%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1075' x='510' y='510' stroke='rgba(238%2c 174%2c 220%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1073' x='510' y='570' stroke='rgba(255%2c 255%2c 255%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1077' x='570' y='30' stroke='rgba(142%2c 151%2c 248%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1076' x='570' y='90' stroke='rgba(190%2c 191%2c 196%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1077' x='570' y='150' stroke='rgba(142%2c 151%2c 248%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1073' x='570' y='210' stroke='rgba(190%2c 191%2c 196%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1074' x='570' y='270' stroke='rgba(238%2c 174%2c 220%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1077' x='570' y='330' stroke='rgba(142%2c 151%2c 248%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1076' x='570' y='390' stroke='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1076' x='570' y='450' stroke='rgba(238%2c 174%2c 220%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1078' x='570' y='510' stroke='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1075' x='570' y='570' stroke='rgba(238%2c 174%2c 220%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1075' x='630' y='30' stroke='rgba(238%2c 174%2c 220%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1076' x='630' y='90' stroke='rgba(190%2c 191%2c 196%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1075' x='630' y='150' stroke='rgba(238%2c 174%2c 220%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1077' x='630' y='210' stroke='rgba(190%2c 191%2c 196%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1078' x='630' y='270' stroke='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1077' x='630' y='330' stroke='rgba(238%2c 174%2c 220%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1077' x='630' y='390' stroke='rgba(238%2c 174%2c 220%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1076' x='630' y='450' stroke='rgba(238%2c 174%2c 220%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1075' x='630' y='510' stroke='rgba(238%2c 174%2c 220%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1076' x='630' y='570' stroke='rgba(142%2c 151%2c 248%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1073' x='690' y='30' stroke='rgba(238%2c 174%2c 220%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1075' x='690' y='90' stroke='rgba(238%2c 174%2c 220%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1076' x='690' y='150' stroke='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1074' x='690' y='210' stroke='rgba(142%2c 151%2c 248%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1078' x='690' y='270' stroke='rgba(190%2c 191%2c 196%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1077' x='690' y='330' stroke='rgba(142%2c 151%2c 248%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1077' x='690' y='390' stroke='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1077' x='690' y='450' stroke='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1076' x='690' y='510' stroke='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1076' x='690' y='570' stroke='rgba(238%2c 174%2c 220%2c 1)'%3e%3c/use%3e%3c/symbol%3e%3c/svg%3e");
}

main #knowledge h3 {
  padding-bottom: 15px;
  opacity: 1;
  font-weight: bold;
  margin: 0 auto;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  padding: 13px;
  padding-top: 25px;
  font-size: 1.3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0.95;
  color: grey;
}

main #knowledge h3:hover {
  font-size: 1.2em;
  line-height: 10px;
}

main #knowledge label {
  padding: 11px;
  color: grey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 60%;
  font-weight: bold;
  font-size: 0.7em;
}

main #knowledge progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 85%;
  height: 20px;
  margin: 0;
  border: 0;
  background: none;
  border-radius: 15px;
  text-align: left;
  position: relative;
  font-family: Helvetica, sans-serif;
  font-size: 0.7em;
  color: grey;
}

main #knowledge progress::-webkit-progress-bar {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  height: 17px;
  width: 95%;
  margin: 0 auto;
  background-color: white;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  -webkit-box-shadow: 0px 0px 6px #9c51ff inset;
          box-shadow: 0px 0px 6px #9c51ff inset;
}

main #knowledge progress::-webkit-progress-value {
  float: right;
  height: 17px;
  margin: 0px -10px 0 0;
  background: #fc667c;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 6px #777 inset;
          box-shadow: 0px 0px 6px #777 inset;
}

main #knowledge progress:after {
  margin: -17px 0 0 -7px;
  padding: 0;
  float: right;
  content: attr(value) "%";
  font-weight: bold;
}

main #knowledge progress#javascript::-webkit-progress-value {
  background: #fc667c;
}

main #knowledge progress#sass::-webkit-progress-value {
  background: #fc667c;
}

main #knowledge progress#react::-webkit-progress-value {
  background: #fc667c;
}

main #knowledge progress#mysql::-webkit-progress-value {
  background: #fc667c;
}

main #knowledge progress#json::-webkit-progress-value {
  background: #fc667c;
}

@-webkit-keyframes rotate {
  0%, 20% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25%, 45% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  50%, 70% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  75%, 95% {
    -webkit-transform: translateY(-150px);
            transform: translateY(-150px);
  }
  100% {
    -webkit-transform: translateY(-200px);
            transform: translateY(-200px);
  }
}

@keyframes rotate {
  0%, 20% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25%, 45% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  50%, 70% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  75%, 95% {
    -webkit-transform: translateY(-150px);
            transform: translateY(-150px);
  }
  100% {
    -webkit-transform: translateY(-200px);
            transform: translateY(-200px);
  }
}

h6 {
  color: grey;
  opacity: 0.65;
  font-size: 0.6em;
  display: block;
  text-align: right;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-top: 5px;
  position: static;
}

h6:hover {
  color: #ebee48;
  opacity: 1;
  cursor: pointer;
}

footer {
  background: #21205f;
  padding: 17px;
  padding-bottom: 7px;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

footer i {
  color: #2375d8;
  font-size: 1.35em;
}

footer i:hover {
  color: #2a8aff;
  font-size: 1.65em;
  cursor: pointer;
}

#open-list {
  background-image: linear-gradient(110.3deg, #485563 8.8%, #7f92a6 95.1%);
  padding: 10px;
  display: none;
}

#open-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
}

#open-list ul li {
  margin: auto;
  color: white;
  font-size: 16px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#burger-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #21205f;
  padding: 12px;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

#burger-list ul {
  margin: auto;
  padding: 15px;
}

.container {
  min-height: 100vh;
  font-family: Montserrat, sans-serif;
}

nav a {
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  padding: 20px;
  text-align: center;
  opacity: 0.85;
}

a:hover {
  opacity: 1;
  color: deepskyblue;
}

#frame {
  position: relative;
  height: 380px;
  border-radius: 2px;
  -webkit-box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-color: #fcaaebf3;
  color: #333;
  font-family: 'Open Sans', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 6s;
          transition-duration: 6s;
}

#frame img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: scroll;
  display: block;
  margin: 0 auto;
  left: -10%;
  position: relative;
}

.center {
  position: absolute;
  top: 50%;
  left: 58%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.carousel {
  margin-left: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  height: 50px;
  overflow: hidden;
  text-shadow: 2px 2px 2px #4ec3c7;
}

.carousel #web-developer {
  font-size: 0.7em;
}

.carousel #seo-analyst {
  font-size: 0.7em;
}

.carousel #lic {
  font-size: 0.52em;
}

.carousel #react {
  font-size: 0.7em;
}

.pre {
  font-size: 2em;
  width: 65px;
  font-weight: 900;
}

.change-outer {
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-size: 25px;
  font-weight: 900;
  -webkit-animation: rotate 10s infinite;
          animation: rotate 10s infinite;
  line-height: 50px;
  -webkit-animation-timing-function: step-end;
          animation-timing-function: step-end;
  width: 265px;
  margin: auto;
}

#frame:target {
  background-color: rgba(228, 220, 220, 0.801);
}

#experience {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.9em;
  position: static;
}

#experience h3 {
  font-size: 1.3em;
  padding: 10px;
  padding-top: 40px;
  color: lightslategray;
}

#experience li {
  padding: 12px;
}

#experience #clase1, #experience #clase2, #experience #clase3 {
  font-size: 0.75em;
  list-style: none;
}

#experience #clase3 {
  margin-bottom: 18px;
}

#experience #li-1 {
  background-color: lightpink;
  margin-top: 18px;
  color: white;
  font-weight: bold;
  opacity: 0.85;
}

#experience #li-1:hover {
  opacity: 1;
  padding-top: 35px;
}

#experience #li-2 {
  background-color: #b0f7b0;
  color: white;
  font-weight: bold;
  opacity: 0.85;
}

#experience #li-3 {
  background-color: #dfade6;
  color: white;
  font-weight: bold;
  opacity: 0.85;
  padding-bottom: 35px;
}

#experience .accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 25px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#experience .active, #experience .accordion:hover {
  background-color: #ccc;
}

#experience .accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

#experience .active:after {
  content: "\2212";
}

#experience .panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
  list-style: none;
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/*# sourceMappingURL=styles.css.map */