#contact {
        display: block;
        margin: 20px auto;
        margin-bottom: 0px;
        padding: 15px;
        font-family: "Roboto", Arial;
        opacity: 0.55;
        h3 {
            font-size: 1.5em;
        }
        h3, p {
            color: #21205f;
            opacity: 1;
        }
        div {
            padding-top: 20px;
            input, textarea {
                margin-top: 10px;
                margin-bottom: 10px;
                border-top: 0px;
                border-left: 0px;
                border-right: 0px;
                border: 2px #21205f;
                border-bottom-style: groove;
                width: 80%;
                opacity: 0.8;
            }
            p {
                font-size: 0.80em;
            }
            input:hover, textarea:hover {
                border: 2.5px rgb(243, 100, 243);
                border-bottom-style: groove;
                opacity: 0.75;
            }
        }
    }
