.dark-mode {
    #burger-list {
        background-color: black;
    }
    #burger-list a {
        color: white;
    }
    #frame {
        background-color: lightgray;
    }
    .dark button {

    }
    .carousel {
        text-shadow: 2px 2px 2px #444;
    }
    #knowledge {
        background-color: darkslategray;
     h3 {
         color: lightskyblue;
     }
     label {
         color: lavender;
     }   
    }
    #experience {
        h3 {
            color: darkslategray;
        }
        #li-0{
            background-color: darksalmon;
            .accordion::after {
                color: white;
            }
        }
        #li-1{
            background-color: slateblue;
            .accordion::after {
                color: white;
            }
        }
        #li-2{
            background-color: darkseagreen;
            .accordion::after {
                color: white;
            }
        }
        #li-3{
            background-color: #dfade6;
            .accordion::after {
                color: white;
            }
        }
    }
    #proyectos {
        h3 {
            color: darkslategray;
        }
        p {
            background-color: black;
            color: dimgray;
        }
    }
    footer{
        background: black;
    .footer {
        background: black;
        color: white;
    }
}
}