.dark-mode {
    #burger-list {
        background-color: #444;
    }
    #burger-list a {
        color: white;
    }
    #frame {
        background-color: rgba(0, 0, 0, 0.941);
    }
    // .dark button {

    // }
    .carousel {
        text-shadow: 2px 2px 2px #444;
    }
    #knowledge {
        background-color: currentColor;
     h3 {
         color: whitesmoke;
     }
     label {
         color: whitesmoke;
     }   
    }
    #experience {
        h3 {
            color: darkslategray;
        }
        #li-0{
            background-color: rgb(58, 49, 46);
            .accordion::after {
                color: white;
            }
        }
        #li-1{
            background-color: rgb(49, 46, 68);
            .accordion::after {
                color: white;
            }
        }
        #li-2{
            background-color: rgb(42, 59, 42);
            .accordion::after {
                color: white;
            }
        }
        #li-3{
            background-color: #3b2c3d;
            .accordion::after {
                color: white;
            }
        }
    }
    #proyectos {
        h3 {
            color: darkslategray;
        }
        p {
            background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(97,97,99,1) 35%, rgba(178,180,181,1) 100%);
            color: rgb(233, 232, 232);
        }
    }
    footer{
        background: black;
    .footer {
        background: black;
        color: white;
    }
}
}