h6 {
    color: grey;
    opacity: 0.65;
    font-size: 0.6em;
    display: block;
    text-align: right;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 5px;
}
h6:hover {
    color: rgb(255, 222, 222);
    opacity: 1;
}
    footer {
          background: #323b40;
          padding: 17px;
          padding-bottom: 7px;
        ul {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            list-style: none;
        }  
        i {
            color: #0096a1;
            font-size: 1.6em;
        }
        i:hover {
            // background-color: #4f585e;
            color: #0ebac7;
            font-size: 1.9em;
        }
  }