h6 {
    color: grey;
    opacity: 0.65;
    font-size: 0.6em;
    display: block;
    text-align: right;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 5px;
    position: static;
}
h6:hover {
    color: #ebee48;
    opacity: 1;
    cursor: pointer;
}
    footer {
          background: #21205f;
          padding: 17px;
          padding-bottom: 7px;
        ul {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            list-style: none;
        }  
        i {
            color: rgb(228, 222, 222);
            font-size: 1.35em;
        }
        i:hover {
            color: lightyellow;
            font-size: 1.65em;
            cursor: pointer;
        }
  }