footer {
    background-color: rgba(12, 6, 6, 0.829);
    color: white;
    font-size: 1.2em;
    height: 25px;
    display: block;
    text-align: right;
    padding-right: 40px;
    padding-top: 5px;
}