#proyectos {
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        // background-image: radial-gradient( circle 1224px at 10.6% 8.8%,  rgba(255,255,255,1) 0%, rgb(218, 153, 251) 100.2% );
        background-color: white;
        position: static;
         h3 {
             padding: 10px;
             padding-top: 45px;
            color: #21205f;
            text-shadow: 2px 2px 2px rgb(241, 162, 252);
            font-size: 1.5em;
        }
        div {
            width: 40%;
            height: 100%;
            box-shadow: 3px 3px 3px 3px #a4a7a7;
            margin: 5px auto;
            margin-left: 10px;
            margin-bottom: 15px;
            border-style: solid #456465;
            border-width: 3px;
            position: relative;
            display: inline-block;
            opacity: 0.9;
            p {
                background-color: rgba(232, 203, 247, 0.919);
                color: #9476dc;
                padding: 10px;
                font-weight: bold;
            }
            img {
                width: 100%;
                height: 100%;
            }
        }
        div:hover {
            opacity: 1;
        }
}
    
