#proyectos {
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        background-image: url("../assets/grey-background.jpg");

        h3 {
            padding: 10px;
            color: #21205f;
            text-shadow: 2px 2px 2px rgb(241, 162, 252);
            font-size: 1.5em;
        }
        div {
            width: 40%;
            height: 100%;
            box-shadow: 3px 3px 3px 3px #a4a7a7;
            margin: 5px auto;
            margin-left: 10px;
            margin-bottom: 15px;
            border-style: solid #456465;
            border-width: 3px;
            position: relative;
            display: inline-block;
            p {
                background-color: #21205f;
                color: rgb(241, 162, 252);
                padding: 10px;
                font-weight: bold;
            }
            img {
                width: 100%;
                height: 100%;
            }
        }
        div:hover {
            opacity: 0.7;
        }
}
    
